.metroshare {
	float: left;
	margin: 1em 0;
}
.metro-tabs {
	float: left;
}
.metro-tabs {
	float: left;
	list-style: none;
	line-height: 1;
	margin: 0 !important;
	padding: 0 !important;
}
.metro-tabs li {
	list-style: none;
	float: left;
	width: 16px;
	height: 16px;
	margin: 0 0.6em 0 0 !important;
	padding: 0 !important;
}
.metro-tabs a {
	float: left;
	text-indent: -999em;
}
.metro-tabs .icon {
	float: left;
	width: 16px;
	height: 16px;
	background: url(share-icons.png) no-repeat;
}
.metroshare-facebook .icon {
	background-position: 0 0;
}
.metroshare-facebook:hover .icon {
	background-position: 0 -16px;
}
.metroshare-twitter .icon {
	background-position: -16px  0;
}
.metroshare-twitter:hover .icon {
	background-position: -16px  -16px;
}
.metroshare-email .icon {
	background-position: -32px 0;
}
.metroshare-email:hover .icon {
	background-position: -32px -16px;
}
.metroshare-google-plus .icon {
	background-position: -48px 0;
}
.metroshare-google-plus:hover .icon {
	background-position: -48px -16px;
}
.metroshare-linkedin .icon {
	background-position: -64px 0;
}
.metroshare-linkedin:hover .icon {
	background-position: -64px -16px;
}
